{% extends "base.html" %}

{% block head %}

{{ super() }}

<script type="text/javascript">
  window.addEventListener('load', (() => {
    var imageCapture = null;
    var startbutton = null;
    startbutton = document.getElementById('startbutton');

    navigator.mediaDevices.getUserMedia({
      video: true,
      audio: false
    }).then(mediaStream => {
      imageCapture = new ImageCapture(mediaStream.getVideoTracks()[0]);
    }).catch(error => console.log(error));

    // var counter = 10;

    function sendPhoto() {
      if (!sessionStorage["counter"]) {
        sessionStorage.setItem("counter", 10);
      }
      if (sessionStorage.getItem("counter") === 0) {
        sessionStorage.removeItem("counter");
        return;
      }

      imageCapture.takePhoto()
        .then(blob => {
          var formData = new FormData();
          formData.append('image', blob, 'capture.png');
          var xhr = new XMLHttpRequest();
          xhr.open('POST', '/upload', true);
          //xhr.onload = function(e) { ... };
          xhr.send(formData);
        })
        .catch(error => console.log(error));

      let tmp = sessionStorage.getItem("counter");
      tmp -= 1;
      sessionStorage.setItem("counter", tmp)
      setTimeout(sendPhoto, 10000);
    }

    startbutton.addEventListener('click', sendPhoto, false);
  }));
</script>
{% endblock %}

{% block title %}Capture{% endblock %}

{% block content %}

<button id="startbutton">Take photo</button>

{% endblock  %}
