
{% extends "bootstrap/base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Attendance Marker</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">TimeTable <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Results</a></li>
            <li><a href="#">Events</a></li>
            <li><a href="#">Attendance Report</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Welcome, {{ name }} </h1>
          <h2 class="sub-header">TimeTable</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Days</th>
                  <th>11:00-12:00</th>
                  <th>12:00-13:00</th>
                  <th>14:30-15:30</th>
                  <th>15:30-16:30</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td> Monday </td>
                  <td > <a href='capture'>Database Management</a></td>
                  <td> <a href='capture'>Software Engineering</a></td>
                  <td> <a href='capture'>Computer Networks</a></td>
                  <td> <a href='capture'>Discrete Math</a></td>
                </tr>
                <tr>
                  <td> Tuesday </td>
                  <td> <a href='capture'>Linear Algebra</a></td>
                  <td> <a href='capture'>Image Processing</a></td>
                  <td> <a href='capture'>Operating Systems</a></td>
                  <td> <a href='capture'>Theory of Computation</a> </td>
                </tr>
                <tr>
                  <td> Wednesday </td>
                  <td> <a href='capture'>Software Engineering</a></td>
                  <td> <a href='capture'>Linear Algebra</a></td>
                  <td> <a href='capture'>Discrete Math</a></td>
                  <td> <a href='capture'>Computer Networks</a></td>
                </tr>
                <tr>
                  <td> Thursday </td>
                  <td> <a href='capture'>Linear Algebra</a></td>
                  <td> <a href='capture'>Discrete Math</a></td>
                  <td> <a href='capture'>Operating Systems</a></td>
                  <td> <a href='capture'>Image Processing</a></td>
                </tr>
                <tr>
                  <td> Friday </td>
                  <td> <a href='capture'>UNIX</a> </td>
                  <td> <a href='capture'>Image Processing</a> </td>
                  <td> <a href='capture'>Operating Systems</a></td>
                  <td> <a href='capture'>Computer Networks</a></td>
                </tr>
                <tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
{% endblock %}